body {
  font-family: Arial, sans-serif;
  background-color: #66b389;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #027a08;
}

p {
  font-size: 14px;
  color: #0f0404;
}

button {
  background-color: #4caf50; /* Màu nền xanh lá */
  border: none;
  color: white; /* Màu chữ trắng */
  padding: 15px 32px; /* Kích thước nút */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px; /* Khoảng cách giữa các nút */
  cursor: pointer;
  border-radius: 8px; /* Bo tròn góc */
  transition-duration: 0.4s; /* Hiệu ứng chuyển đổi */
}

button:hover {
  background-color: #45a049; /* Màu nền khi di chuột vào */
}

img {
  margin-top: 20px;
  border-radius: 8px;
}
